$primary-color: #0070f3;

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: sans-serif;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}


form, div {
  width: 100%;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

button {
  display: block;
  width: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  background-color: $primary-color;
  color: #fafafa;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  margin-bottom: 1rem;
  background-color: $primary-color;

  h1 {
    font-size: 2em;
    margin: 0;
    padding:1.5rem;
    text-align: center;
    color: #fafafa;
  }
  
}

//preview
.preview {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 0.25rem;

  h4, p {
    margin: .5rem 0;
  }

  h2 {
    margin-bottom: 2rem;
  } 

}
